html{
  background-color: #FFF;
	color: #606060;
  max-width: 1750px;
  margin: auto;
  font-family: "ImprintMT Shadow", JavaneseText;
}

body{
	background-color: #d7d7d7;
	width: 60%;
	margin: auto;
	padding-bottom: 1px;
  border: 0px solid #d7d7d7;
  border-radius: 20px;
}

img {
	border: 15px solid #d7d7d7;
	border-radius: 100%;
	width: 200px;
}
img:hover {
  	border: 15px solid #bb9eff;
}
footer {
	text-align: center;
}

a {
  color: #bb9eff;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;

}

.mainSection {
	width: 90%;
	margin: 8% auto 0 auto;
	background-color: #FFF;
	text-align: center;
	padding-bottom: 30px;
  border: 0px solid #606060;
  border-radius: 20px;
}

.header {
background-color: #606060;
padding: 15px 20px 20px 20px;
border: 0px solid #606060;
border-radius: 20px;

}

.header h1{
	display:inline;
	color: #FFF;
}

.nav {
float: right;
padding: 10px 0px 10px 0px;
color: #FFF;
font-size: 1.3em;
}

.nav a{
	color: #FFF;
	text-decoration: none;
}

.nav a:hover{
  color: #bb9eff;

}

.mainBody {
	padding: 1px 20px 0px 0px;
	text-align: justify;
}
.mainBody p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.darkBackground{
  background-color: #606060;
}

.greyHeader{
  width: 97%;
	height: 1.7em;
	margin: auto;
	background-color: #d7d7d7;
  margin-bottom: 1%;
}

.greyHeader h2{
	margin: inherit;
	text-align: center;
	background-color: #d7d7d7;
}

.greyHeader-1{
padding: 0 11% 0 11%;
}

.greyHeader-2{
padding: 0 11% 0 11%;
}

.greyHeader-3{
padding: 0 0 0 11%;
}

.greyHeader-4{
padding: 0 0 0 15%;
}

.leftimg {
	float: left;
	margin: 1% 20px 0px 1%;
}

.left {
	float: left;
	margin: 0px 0px 0px 0px
}

.right {
	float: left;
}

.socialBar {
  position: fixed;
  top: 50px;
  left: 0px;
  background-color: #d7d7d7;
  border: 5px solid #d7d7d7;
  border-radius: 0px 30px 30px 0px;
}

.socialImg {
  width: 40px;
  border: 5px solid #d7d7d7;
	border-radius: 100%;
  display: block;
}

.socialImg:hover{
	border: 5px solid #bb9eff;
}

.Text {
  text-align: justify;
  padding: 3% 10% 0 10%
}

/* Flex */
.flexcontainer {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;


  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}


/* Hobby Specifics*/
.hobbyImages {
	width: 699px;
	margin: auto;
	display:inline-block;
}

/* Index Specifics */
.indexImg {
  margin-top: -100px;

}

.indexBody {
  margin-top: 150px;

}

.indexText {
  text-align: justify;
  padding: 0% 10% 0 10%
}

/* Personal Specifics */
.personalText {
  text-align: justify;
  padding: 3% 10% 0 10%
}

/* Skill/Professional Specifics */
.skillImg {
  border: 15px solid #d7d7d7;
	border-radius: 20%;
	width: 250px;
  height: 200px;
}

/* Javascript stuff */

#showhide {
 display: none;
}

.button {
  cursor: pointer;
}
.button:hover{
  color: #bb9eff;
}

#resume {
display: none;
}


/* Media Query*/
@media only screen and (max-width: 1050px) {
  .header {
        padding: 15px 20px 0px 20px;
  }
  .nav {
    text-align: center;
    display: block;
    float: none;
  }
  .leftimg{
    float: none;
    margin: 1% 0 1% 0;

  }
  .personalText {
    padding: 0 10% 0 10%;
  }
  .personalText h2 {
    margin-top: 0;
    text-align: center;
  }
}
